@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Muli:400,700|Open+Sans:300,400,700";

.h7,h7{
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: black;!important;
    font-size: 2rem
}

#carousel-area .carousel-item .carousel-caption h7 {
    font-family: muli, sans-serif;
    font-size: 70px;
    letter-spacing: 1px;
    margin-bottom: 15px
}

h7 {
    font-family: muli, sans-serif;
    margin-top: 0;
    font-weight: 700;
    margin-bottom: 10px
}

h7 {
    margin-top: 0;
    margin-bottom: .5rem
}

h7 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

gh-tbl, .gh-tbl2 {
    border-collapse: collapse;
    border-spacing: 0;
}
.gh-tbl {
    width: 100%;
    margin-top: 0;
    background: none !important;
}


#gh, #gh-btn.btn, button#gh-shop-a {
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Sans-serif !important;
}
#gh {
    position: relative;
    margin: 0;
    padding: 35px 0 10px 0;
    white-space: nowrap;
}
.gh-w {
    line-height: 1;
    font-size: 14px;
    color: #333;
    font-family: "Helvetica neue",Helvetica,Arial,Sans-serif;
}
.gh-w {
    text-align: left;
}
.font-marketsans body {
    font-family: "Market Sans", Arial, sans-serif;
}
.gh-td {
    width: 1%;
    vertical-align: middle;
    padding: 0;
    min-width: 3px;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

ul.nav-tabs li {
    float: left;
    width: 220px;
    text-align: center;
    margin: 5px;
    border-radius: 3px;
    margin-top: 0;
    background-color: #212529f2;
    box-shadow: 2px 2px #3a3030cc;
}

ul.nav-tabs li a {
    border: 0 !important;
    color: #e2dddd;
    font-size: 15px;
    font-weight: 550;
    line-height: 18px;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.carousel{
    height: 420px;
}

#carousel-slider{
    height: 420px !important;
}