body{

	background-color: #DDF4FA;
	margin: 0px;
	font-family: verdana, georgia, arial, serif;
	font-size: 14px;
}


.main {
	background-color: #AAF3E7;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 320px;
	padding: 20px;
	border-radius: 5px;
}
.right_side_bar{
	background-color: #AAF3E7;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 20px;
	border-radius: 5px;
	float: right;
	width: 260px;

}
.right_side_bar2{
	background-color: #AAF3E7;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 20px;
	border-radius: 5px;
	float: right;
	width: 260px;
	clear: right;

}
.right_side_bar2:hover{
	opacity: 0.4;
}