body {
    font-family: open sans, sans-serif;
    background: #fff;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #b1cec1;/*#666*/
    overflow-x: hidden;
    line-height: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

/*Beginig of hedder css*/

.hedder{

margin-left: 0px;
margin-right: 0px
margin-top:0px;
margin-bottom: 0px;
padding: 0px;
height: 400px;
background-color: lightblue;

}
.navbar{
	height: 80px;
}


.top_search_con {
    background: #fff;
    height: 38px;
    border-radius: 50px;
    position: relative;
    width: 100%;
    }

.top_search_con input[type=text], .top_search_con input:focus {
    background: 0 0 !important;
    border: 1px solid #e4e4e4;
    height: 100%;
    width: 100%;
    padding: 1px 20px 0 40px;
    color: #818b8d;
    font-size: 12px;
    outline: 0;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out
}

.top_search_icon {
    color: #e64a4a;
    font-size: 14px;
    left: 15px;
    position: absolute;
    top: 7px
}

/*End of hedder css*/